@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.jetbrains-mono-jetBrainsMono {
                   font-family: "JetBrains Mono", monospace;
                   font-optical-sizing: auto;
                   font-weight: 250;
                   font-style: normal;
                 }

#SelectionSlider {
    transition: transform 0.5s ease; /* Slower transition */
}

/* Add glow effect on hover for icons */
#ExternalLogin ion-icon:hover {
    filter: drop-shadow(0 0 5px rgba(241, 136, 5, 0.2)); /* Adjust glow effect as needed */
}
