<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/output.css' />
  </head>
  <body class="m-0 p-0">
    <div id="main" class="w-screen h-screen flex flex-col justify-center items-center from-[#F18805] to-[#DE7254] bg-gradient-to-t">
      <div id="LoginContainer" class="flex flex-col items-center relative bg-[#273154] w-[570px] h-[504px] drop-shadow-Login hover:drop-shadow-LoginH rounded-2xl">
          <h1 class="flex jetbrains-mono-jetBrainsMono text-white justify-center items-center text-[24px] tracking-[3px] mt-5 w-1/2 h-[10%]">LOGIN</h1>
          <div class="mt-16">
          <label class="jetbrains-mono-jetBrainsMono pl-2 tracking-[3px] text-white">
              Username
          </label>
          <input id="UsernameInput" type="text" class="relative flex w-[354px] h-[41px] rounded-2xl drop-shadow-2xl p-3 pl-5 jetbrains-mono-jetBrainsMono mt-2 shadow-inputInner ">
          </div>
        <div class="mt-10">
          <label class="jetbrains-mono-jetBrainsMono pl-2 tracking-[3px] text-white">Password</label>
          <input id="PasswordInput" type="password" class="relative flex w-[354px] h-[41px] rounded-2xl drop-shadow-2xl p-3 pl-5 jetbrains-mono-jetBrainsMono mt-2 shadow-inputInner ">
        </div>
          </div>
    </div>
  </body>
</html>
